.slick-dots li {
  overflow: hidden;
  background-color: rgba(129, 93, 242, 0.2) !important;
  width: 8px !important;
  height: 8px !important;
  border-radius: 5em;
}
.slick-dots li button {
  background-color: rgba(129, 93, 242, 0.2) !important;
}
.slick-dots li.slick-active {
  width: 28px !important;
  height: 8px !important;
  background-color: rgba(129, 93, 242) !important;
}
.slick-dots li.slick-active button {
  background-color: rgba(129, 93, 242) !important;
}
