.ant-segmented-group {
  border-radius: 0.5em;
  background-color: white;
  padding: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.ant-segmented-item-label {
  padding: 6px 30px !important;
  font-size: 16px !important;
  font-weight: 600;
}
.ant-segmented-item-selected {
  background-color: rgb(129, 93, 242) !important;
}
.ant-segmented-item-selected .ant-segmented-item-label {
  color: white;
}
