.filter-job-input-box {
  height: 2.75rem;
  border-radius: 0.375rem;
  border-color: rgb(204 206 214 / 0.5);
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-right: 6px;
  padding-left: 40px;
}
label.ant-checkbox-wrapper > span {
  font-size: 16px !important;
  color: #74788d !important;
}
